.content {
    display: block;
    width: 800px;
    border: 1px solid black;
    margin: 0 auto;
    margin-top: 20px;
    padding: 10px;
}

.search {
    width: 500px;
    padding: 10px;
    border: 1px solid black;
    margin: 0 auto;
}

.logger {
    width: 500px;
    padding: 10px;
    border: 1px solid black;
    margin: 0 auto;
    text-align: center;
}

.result {
    width: 500px;
    padding: 10px;
    border: 1px solid black;
    margin: 0 auto;
    text-align: center;
}

.leftNav {
    position: fixed;
    float: left;
    top: 0px;
    left: 0px;
    border: 1px solid black;
    width: 25%;
    padding: 5px;
    height: 100%;
}

.leftNav div {

}

.comtime {
    position: relative;
    width: 80%;
    margin: 0 auto;
    margin-top: 30px;
    padding: 10px;
    border: 1px solid black;
    background-color: white;
    text-align: center;
}

.controller {
    margin-top: 8px;
}

.manual {
    border: 1px solid black;
    width: 80%;
    margin: 0 auto;
    margin-top: 10px;
    padding: 8px;
}

.manual h3{
    text-align: center;
}

/* 태그 전용 */

textarea {
    height: 300px;
    width: 490px;
    resize: none;
}

h3 {
    margin: 2px;
}
