body {
    padding-left: 375px;
}

.content {
    display: block;
    width: auto;
    margin: 0 auto;
    margin-top: 20px;
    padding: 10px;
    border: 1px solid black;
}

.search {
    width: 500px;
    padding: 10px;
    border: 1px solid black;
    margin: 0 auto;
}

.logger {
    width: 50%;
    padding: 10px;
    border: 1px solid black;
    margin: 0 auto;
    text-align: center;
}

.result {
    width: 50%;
    padding: 10px;
    border: 1px solid black;
    margin: 0 auto;
    text-align: center;
}

.leftNav {
    position: fixed;
    float: left;
    top: 0px;
    left: 0px;
    width: 350px;
    padding: 5px;
    height: 100%;
    border: 1px solid black;
}

.comtime {
    position: relative;
    width: 80%;
    margin: 0 auto;
    margin-top: 30px;
    padding: 10px;
    border: 1px solid black;
    background-color: white;
    text-align: center;
}

.controller {
    margin-top: 8px;
}

.manual {
    border: 1px solid black;
    width: 80%;
    margin: 0 auto;
    margin-top: 10px;
    padding: 8px;
}

.manual h3{
    text-align: center;
}

/* 태그 전용 */

textarea {
    width: 100%;
    height: 45%;
    resize: none;
}

h3 {
    margin: 2px;
}
